@import "tailwindcss";

@custom-variant spooky (&:where(.spooky, .spooky *));
@custom-variant space (&:where(.space, .space *));

@theme {
  --color-primary-a0: #17bd3d;
  --color-primary-a1: #48c554;
  --color-primary-a2: #66cd6a;
  --color-primary-a3: #7fd57f;
  --color-primary-a4: #96dc94;
  --color-primary-a5: #ace3a9;
  --color-surface-a0: #121212;
  --color-surface-a1: #282828;
  --color-surface-a2: #3f3f3f;
  --color-surface-a3: #575757;
  --color-surface-a4: #717171;
  --color-surface-a5: #8b8b8b;
}

.spooky {
  --color-primary-a0: #ff892e;
  --color-primary-a1: #ff9647;
  --color-primary-a2: #ffa45f;
  --color-primary-a3: #ffb175;
  --color-primary-a4: #ffbe8c;
  --color-primary-a5: #ffcba2;
}

.space {
  --color-primary-a0: #9b3cba;
  --color-primary-a1: #a854c2;
  --color-primary-a2: #b46aca;
  --color-primary-a3: #bf7fd2;
  --color-primary-a4: #cb94d9;
  --color-primary-a5: #d6a9e1;
}

.framework-green {
  --color-primary-a0: #2d4834;
  --color-primary-a1: #425a48;
  --color-primary-a2: #576d5c;
  --color-primary-a3: #6e8172;
  --color-primary-a4: #849588;
  --color-primary-a5: #9ca99e;
}

.framework-purple {
  --color-primary-a0: #7c7c94;
  --color-primary-a1: #8a8a9f;
  --color-primary-a2: #9898ab;
  --color-primary-a3: #a6a6b7;
  --color-primary-a4: #b4b4c2;
  --color-primary-a5: #c3c3ce;
}

.framework-pink {
  --color-primary-a0: #eebcc3;
  --color-primary-a1: #f0c3ca;
  --color-primary-a2: #f2cbd0;
  --color-primary-a3: #f4d2d7;
  --color-primary-a4: #f6dadd;
  --color-primary-a5: #f8e1e4;
}
